{% extends "base.html" %}
{% load delivery_tags %}

{% block title %}Drivers{% endblock title %}

{% block content %}
<div class="navigation">
  <a href="{% url 'driver_list' %}" class="navigation__link">Drivers</a>
  <a href="{% url 'vehicle_list' %}" class="navigation__link">Vehicles</a>
  <a href="{% url 'delivery_list' %}" class="navigation__link navigation__link--disabled">Deliveries</a>
</div>
<div class="list">
  <div class="delivery-db delivery-labels">
    <p class="delivery-db__id">ID</p>
    <p class="delivery-db__driver">Driver</p>
    <p class="delivery-db__vehicle">Vehicle</p>
    <p class="delivery-db__total">Total</p>
    <p class="delivery-db__tip">Tip</p>
    <p class="delivery-db__percentage">%</p>
  </div>
  {% for delivery in deliveries %}
  <div class="delivery-db list__entry">
    <p class="delivery-db__id">{{ delivery.id }}</p>
    <p class="delivery-db__driver">{{ delivery.driver }}</p>
    <p class="delivery-db__vehicle">{{ delivery.vehicle }}</p>
    <p class="delivery-db__amount">{{ delivery.amount }}</p>
    <p class="delivery-db__tip">{{ delivery.tip }}</p>
    <p class="delivery-db__percentage">{% divide delivery.tip delivery.amount|floatformat %}%</p>
  </div>
  {% empty %}
  
  {% endfor %}
</div>
{% endblock content %}