{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="banner">
  <h1 class="banner__title">Tips-A-Lot</h1>
  <h3 class="banner__subtitle">Your one stop for delivery tips.</h3>
  <div class="banner__new-delivery">
    <a href="{% url 'select_driver' %}" class="banner__button">New Delivery</a>
  </div>
  <div class="banner__lists">
    <a href="" class="banner__list"></a>
    <a href="" class="banner__list"></a>
    <a href="" class="banner__list"></a>
  </div>
</div>
{% endblock content %}