{% extends "base.html" %}

{% block title %}Drivers{% endblock title %}

{% block content %}
<div class="navigation">
  <a href="{% url 'driver_list' %}" class="navigation__link">Drivers</a>
  <a href="{% url 'vehicle_list' %}" class="navigation__link navigation__link--disabled">Vehicles</a>
  <a href="{% url 'delivery_list' %}" class="navigation__link">Deliveries</a>
</div>
<div class="list">
  <div class="vehicle-db vehicle-labels">
    <p class="vehicle-db__id">ID</p>
    <p class="vehicle-db__year">Year</p>
    <p class="vehicle-db__color">Color</p>
    <p class="vehicle-db__model">Model</p>
  </div>
  {% for vehicle in vehicles %}
  <div class="vehicle-db list__entry">
    <p class="vehicle-db__id">{{ vehicle.id }}</p>
    <p class="vehicle-db__year">{{ vehicle.year }}</p>
    <p class="vehicle-db__color">{{ vehicle.color }}</p>
    <p class="vehicle-db__model">{{ vehicle.model }}</p>
  </div>
  {% empty %}
  
  {% endfor %}
</div>
{% endblock content %}